<div class="root" (click)="reset($event)">
  <div>

    <div class="currentCity" *ngIf="!citySearch">
      <p id="city" (click)="changeCity()">{{city}}</p>
      <a id="city2" (click)="changeCity()">Сменить город</a>
      <a id="location" (click)="currentLocation()">
        <img class="path" alt="" src="./assets/img/path.png"/>
        Мое местоположение
      </a>
    </div>

    <div class="citySearch" *ngIf="citySearch">
      <label>
        <input id="city3" type="text"
               [(ngModel)]="cityNew" (keyup.enter)="submit()"
               (ngModelChange)="searchCity()">
        <small *ngIf="searchCProgress"> searching... </small>
        <a id="city4" (click)="submit()">OK</a>
      </label>
      <div>
        <div id="item" *ngFor="let item of cityList; let i = index" (click)="setCity(item.name)">
          {{item.name}} {{item.sys.country}}
        </div>
        <div *ngIf="cityList.length == 0 && searchComplete">
          Город не найден
        </div>
      </div>
    </div>

    <div class="units">
      <small>° </small>
      <button (click)="setMetricSystem()" class="{{isMetricSystem() ? ' selected ' : ' '}}"
      >C
      </button>
      <button (click)="setImperialSystem()" class="{{isImperialSystem() ? ' selected ' : ' '}}"
      >F
      </button>
    </div>
  </div>

  <div class="loader" *ngIf="loading">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="warnMsg" *ngIf="warnMsg && !loading">
    {{warnMsg}}
  </div>

  <forecast-box *ngIf="currentForecast" [forecast]="currentForecast"></forecast-box>



</div>
